azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "mdcremovesharedprivateaccess",
            "type":  "string"
        }
    },
    "variables":  {
        "AscassessmentConnectionName":  "[concat('Ascassessment-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_a_Microsoft_Defender_for_Cloud_recommendation_is_created_or_triggered":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['ascassessment']['connectionId']"
                                    }
                                },
                                "path":  "/Microsoft.Security/Assessment/subscribe"
                            }
                        }
                    },
                    "actions":  {
                        "HTTP":  {
                            "runAfter":  {
                                "resourceGroupName":  [
                                    "Succeeded"
                                ],
                                "storageName":  [
                                    "Succeeded"
                                ],
                                "subscriptionId":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "authentication":  {
                                    "type":  "ManagedServiceIdentity"
                                },
                                "body":  {
                                    "properties":  {
                                        "allowSharedKeyAccess":  false
                                    }
                                },
                                "method":  "PATCH",
                                "uri":  "https://management.azure.com/subscriptions/@{variables('subscriptionId')}/resourceGroups/@{variables('resourceGroupName')}/providers/Microsoft.Storage/storageAccounts/@{variables('storageName')}?api-version=2023-01-01"
                            }
                        },
                        "IdDetails":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "IdDetails",
                                        "type":  "array",
                                        "value":  "@split(triggerBody()?['id'],'/')"
                                    }
                                ]
                            }
                        },
                        "resourceGroupName":  {
                            "runAfter":  {
                                "IdDetails":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "resourceGroupName",
                                        "type":  "string",
                                        "value":  "@{variables('IdDetails')[4]}"
                                    }
                                ]
                            }
                        },
                        "storageName":  {
                            "runAfter":  {
                                "IdDetails":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "storageName",
                                        "type":  "string",
                                        "value":  "@{variables('IdDetails')[8]}"
                                    }
                                ]
                            }
                        },
                        "subscriptionId":  {
                            "runAfter":  {
                                "IdDetails":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "subscriptionId",
                                        "type":  "string",
                                        "value":  "@{variables('IdDetails')[2]}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "ascassessment":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]",
                                "connectionName":  "[variables('AscassessmentConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "mdcremovesharedprivateaccess",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AscassessmentConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AscassessmentConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AscassessmentConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Ascassessment')]"
                }
            }
        }
    ]
}
